@font-face {
    font-family: 'Hack Nerd Font';
    src: url('fonts/Hack-Nerd-Font.woff2') format('woff2'),
         url('fonts/Hack-Nerd-Font.woff') format('woff'),
         url('fonts/Hack-Nerd-Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Hack Nerd Font', monospace; /* Usa la fuente local y proporciona una fuente de respaldo */
    margin: 0;
    background-image: url(https://i.ibb.co/SK485N4/background-digi.png);
    background-size: cover;
    background-position: center;
}

header {
    height: 100px; /* Establece la altura del header en 100px */
    background-image: url(https://i.ibb.co/HhWnrWV/background-digi.png);
    background-size: auto;    
    margin: 0; /* Elimina el margen del header */
    padding: 0; /* Elimina el padding del header */
    display: flex; /* Usa flexbox para el centrado */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente */
}

header h1 {
    color: #FFC107;
    margin: 0; /* Elimina el margen del título */
    font-size: 28px; /* Establece el tamaño de fuente del título en 24px */
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.logo-container {
    width: 160px;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.logo-hans {
    width: 160px; /* Limita el ancho de la imagen a un 30% del contenedor padre */
    height: 100%;
    margin: 0; /* Agrega un margen para separar la imagen del título */
    transition: transform 0.5s ease-in-out;
}

.logo-container:hover .logo-hans {
    transform: scale(1.75);
}

.logo-container-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 5px;
    position: relative;
}

#logo-derecho {
    width: 90px;
    height: 90px;
    margin: 5px 5px 5px 0;
}

/* Contenedor para las columnas */
.container {
    display: flex;
    justify-content: space-between; /* Espacio entre columnas */
    align-items: stretch;
}

/* Estilos para las columnas */
.column {
    flex: 1; /* Cada columna toma el mismo espacio */
    margin: 0 1px; /* Espacio entre columnas */
    height: 100vh;
    margin-left: 25px;
    transition: width 0.5s;
}

.column:hover {
    width: 250px; /* Cambia el ancho de la columna cuando se pasa el ratón por encima de ella */
  }

/* Estilos para los botones */
.boton-prova {
    background: linear-gradient(145deg, #3db35d, #49d56e);
    box-shadow:  20px 20px 60px #3aa958;
    border-radius: 25px;
    border: 2px solid #18ab29;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    padding: 15px 38px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #2f6627;
    margin-bottom: 10px;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.boton-llistes {
    display: block;
    margin-bottom: 10px; /* espacio entre botones */
    background: linear-gradient(145deg, #008ab8, #00a4da);
    box-shadow:  20px 20px 60px #0082ad;
    border-radius: 25px;
    border: 2px solid #0066cc; /* azul oscuro */
    cursor: pointer;
    color: #ffffff; /* texto blanco */
    font-size: 27px;
    font-weight: bold;
    padding: 15px 38px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #0044cc; /* sombra de texto */
  }

  .boton-taules {
    display: block;
    margin-bottom: 10px; /* espacio entre botones */
    background: linear-gradient(145deg, #e68a00, #ffa400);
    box-shadow:  20px 20px 60px #d98200;
    border-radius: 25px;
    border: 2px solid #ff6600; /* naranja oscuro */
    cursor: pointer;
    color: #ffffff; /* texto blanco */
    font-size: 27px;
    font-weight: bold;
    padding: 15px 38px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #cc4400; /* sombra de texto */
  }

  .boton-cv {
    display: block;
    margin-bottom: 10px; /* espacio entre botones */
    background: linear-gradient(145deg, #D50000, #FF4081); /* Degradado de rojo a rosa */
    box-shadow: 20px 20px 60px #A00000; /* Sombra más oscura para dar profundidad */
    border-radius: 25px;
    border: 2px solid #FF4081; /* Borde del mismo color que el degradado */
    cursor: pointer;
    color: #ffffff; /* texto blanco */
    font-size: 27px;
    font-weight: bold;
    padding: 15px 38px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #A00000; /* sombra de texto */
}

.boton-div {
  display: block;
  margin-bottom: 10px; /* espacio entre botones */
  background: linear-gradient(145deg, #8e44ad, #9b59b6); /* Degradado de rojo a rosa */
  box-shadow: 20px 20px 60px #500b5e; /* Sombra más oscura para dar profundidad */
  border-radius: 25px;
  border: 2px solid #7a288a; /* Borde del mismo color que el degradado */
  cursor: pointer;
  color: #ffffff; /* texto blanco */
  font-size: 27px;
  font-weight: bold;
  padding: 15px 38px;
  text-decoration: none;
  text-shadow: 0px 1px 10px #5c2e8f; /* sombra de texto */
}

.boton-span {
  display: block;
  margin-bottom: 10px; /* espacio entre botones */
  background: linear-gradient(145deg, #f4c20d, #f7e74e); /* Degradado de rojo a rosa */
  box-shadow: 20px 20px 60px #d3a700; /* Sombra más oscura para dar profundidad */
  border-radius: 25px;
  border: 2px solid #b59400; /* Borde del mismo color que el degradado */
  cursor: pointer;
  color: #ffffff; /* texto blanco */
  font-size: 27px;
  font-weight: bold;
  padding: 15px 38px;
  text-decoration: none;
  text-shadow: 0px 1px 10px #9b7f00; /* sombra de texto */
}

  .boton-prova:hover {
    background-color: #34c975; /* un tono más claro que el original */
    box-shadow: 20px 20px 60px #7ff57f;
    transform: scale(0.75);
  }
  
  .boton-llistes:hover {
    background-color: #00aaff; /* un tono más claro que el original */
    box-shadow: 20px 20px 60px #0044cc;
    transform: scale(1.2); /* Aumenta el tamaño del botón en un 10% */
  }
  
  .boton-taules:hover {
    background-color: #ffa633; /* un tono más claro que el original */
    box-shadow: 20px 20px 60px #cc4400;
    transform: scale(1.2); /* Aumenta el tamaño del botón en un 10% */
  }

  .boton-cv:hover {
    background-color: #d33333;
    box-shadow: 20px 20px 60px #D50000; /* Sombra más clara */
    transform: scale(1.2); /* Aumenta el tamaño del botón al pasar el ratón */
}

.boton-div:hover {
  background-color: #b066d8;
  box-shadow: 20px 20px 60px #8e44ad; /* Sombra más clara */
  transform: scale(1.2); /* Aumenta el tamaño del botón al pasar el ratón */
}

.boton-span:hover {
  background-color: #f6d40e;
  box-shadow: 20px 20px 60px #f4c20d; /* Sombra más clara */
  transform: scale(1.15); /* Aumenta el tamaño del botón al pasar el ratón */
}
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#ff0000 0%, #0099ff 90%);
    padding: 20px 30px;
    width: 100%;
    height: 80px;
    margin-top: auto;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-style: color #000;
    color: #666;
    margin-bottom: 1.25em;
    height: 100%; /* Asegúrate de que el contenedor tenga un alto específico */
  }

  .container {
    display: flex;
    flex-direction: flex; /* Alinea los elementos verticalmente */
    gap: 20px; /* Espacio entre las secciones */
    margin: 20px; /* Margen alrededor del contenedor */
}

.taules-cv-container {
    display: flex; /* Usa flexbox para alinear taules y cv horizontalmente */
    gap: 20px; /* Espacio entre taules y curriculum */
}

.taules {
    align-items: top;
}

.cv {
    align-items: center;
    flex: 0 0  200px; /* Fija el ancho del CV a 200px */
}

.div-i-span {
    padding: 20px; /* Espacio interno */
}